@model EditAlbumModel
@{
}



<h1>Edit Album</h1>

@* @using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { enctype = "multipart/form-data" })) *@
@* { *@
<div id="title-section" class="mb-3">
    @Html.LabelFor(m => m.Title, new { CssClass = "form-label" })
    @Html.TextBoxFor(m => m.Title, new { CssClass = "form-control" })
</div>
<div x-data="{}" class="mb-3">
    @Html.LabelFor(m => m.Artist, new { CssClass = "form-label" })
    @Html.TextBoxFor(m => m.Artist, new { CssClass = "form-control", id="artistInput"})
    <button class="btn btn-secondary" data-toggle="modal" data-target="#artistModal">...</button>
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Image, new { CssClass = "form-label" })
    @Html.TextBoxFor(m => m.Image, new { CssClass = "form-control" })
</div>
<div class="mb-3">
    <label for="newImage">Image</label>
    <input type="file" id="newImage" name="newImage" class="form-control">
</div>
<div class="mb-3">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
@* } *@

<!-- Modal -->
<div x-init="artists = (await axios.get('/album/artists')).data" x-data="{ artists: [], selectedArtist: '' }" class="modal fade" id="artistModal" tabindex="-1" aria-labelledby="artistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 x-ref="title" class="modal-title" id="artistModalLabel">Select an Artist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="artistList">Select an artist</label>
                    <select multiple class="form-control" id="artistList" x-on:change="selectedArtist = $el.value; console.log($el.value)">
                        <template x-for="artist in artists">
                            <option x-text="artist.name"></option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" x-on:click="document.getElementById('artistInput').value = selectedArtist">Confirm</button>
            </div>
        </div>
    </div>
</div>


