@{
}

<a href="@Url.Action("Artists")">Manage Artists</a>
<a href="@Url.Action("Albums")">Manage Albums</a>
<a href="@Url.Action("Songs")">Manage Songs</a>
<a href="@Url.Action("MediaType")">Manage Media Types</a>
<a href="@Url.Action("Genre")">Manage Genre</a>
