@model HomePageModel
@{
    ViewData["Title"] = "Home Page";
    var previousPage = Model.PageNumber--;
    var nextPage = Model.PageNumber++;
}
<img src="/img/music_store_logo.png" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <input type="text" name="search" />
    <input type="submit" value="Search" />
    <input type="hidden" name="page" value="@Model.PageNumber"/>
</form>
<a href="@Url.Action("Index", new { Page = previousPage  })" class="btn btn-primary">Previous Page</a>&nbsp;&nbsp;&nbsp;
<a href="@Url.Action("Index", new { Page = nextPage  })" class="btn btn-primary">Next Page</a>
@if (!Model.Artists.Any())
{
    <p>No records found</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Albums</th>
                @* <th scope="col">Email Address</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in Model.Artists)
            {
                <tr>
                    <th scope="row">@artist.Id</th>
                    <td>@artist.Name</td>
                    <td>@artist.Albums.Count</td>
                    @* <td>@user.EmailAddress</td> *@
                </tr>
            }

        </tbody>
    </table>
}
